<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr class="<%= cycle('', 'alt') %> line-item">
    <td class="goods-page-image" data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
        <%= link_to image_tag(variant.product.display_image.attachment(:small)), variant.product %>
      <% else %>
        <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
      <% end %>
    </td>
    <td class="goods-page-description" data-hook="cart_item_description">
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <%= variant.options_text %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <span class="line-item-description" data-hook="line_item_description">
        <%= line_item_description_text(line_item.description) %>
      </span>
    </td>
    <td class="goods-page-price" data-hook="cart_item_price">
      <strong><span>
      	<%= line_item.single_money.to_html %>
      </span></strong>
    </td>
    <td class="goods-page-quantity" data-hook="cart_item_quantity">
      <div class="product-quantity">
      	<%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity form-control input-sm", :size => 5 %>
      </div>
    </td>
    <td class="goods-page-total" data-hook="cart_item_total">
      <strong><span>
      	<%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
      </span></strong>
    </td>
    <!--td class="del-goods-col" data-hook="cart_item_delete">
			<%#<%= link_to image_tag('icons/delete.png'), '#', :class => 'del-goods', :id => "delete_#{dom_id(line_item)}" %>
    </td-->
		<td class="cart-item-delete" data-hook="cart_item_delete">
			<div class="del-line-item">
				<%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
			</div>
		</td>
  </tr>
<% end -%>
