<div id="product-pop-up_<%= product.id %>" style="">
	<div class="product-page product-pop-up">
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-3">
				<div class="product-images">
					<div class="product-other-images">
						<div id="thumbnails" class="col-md-2" data-hook>
							<%= render :partial => 'spree/products/fast_view_thumbnails', locals: { product: product } %>
						</div>
						<%#<%= link_to("javascript:;", class: "active") do %>
							<%#<%= image_tag product.display_image.attachment(:mini), alt: "Images" %>
						<%#<% end %>
					</div>
					<div class="product-main-image col-md-10">
						<%= image_tag product.display_image.attachment(:original), alt: "Image Not Available", class: "img-responsive" %>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-9">
				<h2><%= product.name %></h2>
				<div class="price-availability-block clearfix">
					<div class="price">
						<strong><%= product.display_price %></strong>
					</div>
					<!--div class="availability">
						Availability: <strong>In Stock</strong>
					</div-->
				</div>
				<div class="description">
					<p><%= truncate(product.description, length: 500) %></p>
				</div>

				<%= render partial: "spree/products/fast_view_cart_form", locals: { product: product } %>
			</div>
		</div>
	</div>
</div>

<script>

fastViewHandlers(); 

</script>
