<div>
	<div class="product-item">
		<div class="pi-img-wrapper">
			<%= image_tag(item.display_image.attachment(:product), class: "img-responsive", alt: "") %>
			<div>
				<%= link_to "Quick View", "/fast_view/#{item.id}", class: "btn btn-default fancybox.ajax fancybox-fast-view" %>
			</div>
		</div>
		<h3>
			<%= link_to item.name, product_path(item) %>
		</h3>
		<div class="pi-price"><%= item.display_price.to_html %></div>
		<%= button_to populate_orders_path, params: { quantity: 1, variant_id: item.variants.first.id } do %>
			<span class="btn btn-default add2cart">Add to Cart</span>
		<% end %>
		<div class="sticker sticker-new"></div>
	</div>
</div>
