<div id="product-pop-up_<%= product.id %>" style="display: none; width: 700px;">
	<div class="product-page product-pop-up">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-3">
				<div class="product-main-image">
					<%= image_tag product.display_image.attachment(:original), alt: "Image Not Available", class: "img-responsive" %>
				</div>
				<div class="product-other-images">
					<%= link_to("javascript:;", class: "active") do %>
						<%= image_tag product.display_image.attachment(:mini), alt: "Images" %>
					<% end %>
					<%= link_to("javascript:;", class: "active") do %>
						<%= image_tag product.display_image.attachment(:mini), alt: "Images" %>
					<% end %>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-9">
				<h2><%= product.name %></h2>
				<div class="price-availability-block clearfix">
					<div class="price">
						<strong><%= product.display_price %></strong>
						<!--em><span>
							<%#<%= product.price*2 %>
						</span></em-->
					</div>
					<div class="availability">
						Availability: <strong>In Stock</strong>
					</div>
				</div>
				<div class="description">
					<p><%= product.description %></p>
				</div>
				<div class="product-page-options">
					<div class="pull-left">
						<label class="control-label">Size:</label>
						<select class="form-control input-sm">
							<option>L</option>
							<option>M</option>
							<option>XL</option>
						</select>
					</div>
					<div class="pull-left">
						<label class="control-label">Color:</label>
						<select class="form-control input-sm">
							<option>Red</option>
							<option>Blue</option>
							<option>Black</option>
						</select>
					</div>
				</div>
				<div class="product-page-cart">
					<div class="product-quantity">
						<input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
					</div>
					<button class="btn btn-primary" type="submit">Add to cart</button>
					<a href="shop-item.html" class="btn btn-default">More details</a>
				</div>
			</div>
		</div>
	</div>
</div>
