<!-- nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <%#<li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%#<%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <%#<script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
  </ul>
</nav-->


<div class="header">
	<div class="container">
		<figure id="logo" class="logo" data-hook><%= logo(image_path = "https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/logos/logo-shop-red-137e0744bdd045013d57434ddbb6de6ee2188efffe742c9b1579dd9be69a8fa6.png", img_options = { class: "site-logo"}) %></figure>

		<a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

		<!-- BEGIN CART -->
		<div class="top-cart-block">
			<div class="top-cart-info">
			<div id="link-to-cart" data-hook>
				<noscript>
					<%= link_to Spree.t(:cart), '/cart' %>
				</noscript>
				&nbsp;
			</div>
			<script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
			<%#<%= link_to "3 items", "javascript:void(0);", class: "top-cart-info-count" %>
			<%#<%= link_to "$1260", "javascript:void(0);", class: "top-cart-info-value" %>
			</div>
			<i class="fa fa-shopping-cart"></i>

			<div class="top-cart-content-wrapper">
				<div class="top-cart-content">
					<% if @order.line_items.empty? %>
						<div data-hook="empty_cart" class="text-center">
							<p><%= Spree.t(:your_cart_is_empty) %></p>
							<p>
								<%= link_to Spree.t(:continue_shopping), root_path, :class => 'btn btn-primary btn-xs' %>
							</p>
						</div>
					<% else %>
						<ul class="scroller" style="height: 250px;">
							<%= render partial: "spree/shared/cart", locals: { order: @order } %>
						</ul>
						<div class="text-right">
							<%= link_to "View Cart", cart_path, class: "btn btn-default btn-xs" %>
							<%= button_tag :class => 'btn btn-primary btn-xs', :id => 'checkout-link', :name => 'checkout' do %>
								<%= Spree.t(:checkout) %>
							<% end %>

						</div>
					<% end %>

				</div>
			</div>            
		</div>
		<!--END CART -->

		<!-- BEGIN NAVIGATION -->
		<div class="header-navigation">
			<ul>
				<%= render :partial => 'spree/shared/taxonomies' %>
				<li class="dropdown dropdown-megamenu">
					<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
						Man
					</a>
					<ul class="dropdown-menu">
						<li>
						<div class="header-navigation-content">
							<div class="row">
								<div class="col-md-4 header-navigation-col">
									<h4>Footwear</h4>
									<ul>
										<li><a href="shop-product-list.html">Astro Trainers</a></li>
										<li><a href="shop-product-list.html">Basketball Shoes</a></li>
										<li><a href="shop-product-list.html">Boots</a></li>
										<li><a href="shop-product-list.html">Canvas Shoes</a></li>
										<li><a href="shop-product-list.html">Football Boots</a></li>
										<li><a href="shop-product-list.html">Golf Shoes</a></li>
										<li><a href="shop-product-list.html">Hi Tops</a></li>
										<li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
									</ul>
								</div>
								<div class="col-md-4 header-navigation-col">
									<h4>Clothing</h4>
									<ul>
										<li><a href="shop-product-list.html">Base Layer</a></li>
										<li><a href="shop-product-list.html">Character</a></li>
										<li><a href="shop-product-list.html">Chinos</a></li>
										<li><a href="shop-product-list.html">Combats</a></li>
										<li><a href="shop-product-list.html">Cricket Clothing</a></li>
										<li><a href="shop-product-list.html">Fleeces</a></li>
										<li><a href="shop-product-list.html">Gilets</a></li>
										<li><a href="shop-product-list.html">Golf Tops</a></li>
									</ul>
								</div>
								<div class="col-md-4 header-navigation-col">
									<h4>Accessories</h4>
									<ul>
										<li><a href="shop-product-list.html">Belts</a></li>
										<li><a href="shop-product-list.html">Caps</a></li>
										<li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
									</ul>

									<h4>Clearance</h4>
									<ul>
										<li><a href="shop-product-list.html">Jackets</a></li>
										<li><a href="shop-product-list.html">Bottoms</a></li>
									</ul>
								</div>
								<div class="col-md-12 nav-brands">
									<ul>
										<li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/brands/esprit-5e1bd2fd4dd0e9af31665518c25dfc81da7657ca77bc149b471feb08e864a96a.jpg"></a></li>
										<li><a href="shop-product-list.html"><img title="gap" alt="gap" src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/brands/gap-ee63335101721d20d460017a80a9dd120a3362dd32706b21aa9af7bca7cf9a34.jpg"></a></li>
										<li><a href="shop-product-list.html"><img title="next" alt="next" src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/brands/next-fb2c672df7dd1bc5136863e26c07363b86aade6ce6322920ae767f20d262d150.jpg"></a></li>
										<li><a href="shop-product-list.html"><img title="puma" alt="puma" src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/brands/puma-39d8ca1901e654d9cf92ac20696ddc6d74029d54662a403a7ba0d4d537c6536a.jpg"></a></li>
										<li><a href="shop-product-list.html"><img title="zara" alt="zara" src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/brands/zara-bd9b19510739ca4c29b12e9a01e4854b384fa4e761b4b375469f557529d877ee.jpg"></a></li>
									</ul>
								</div>
							</div>
						</div>
						</li>
					</ul>
				</li>
				<!-- BEGIN TOP SEARCH -->
				<li class="menu-search">
				<span class="sep"></span>
				<i class="fa fa-search search-btn"></i>
				<div class="search-box">
					<form action="#">
						<div class="input-group">
							<input type="text" placeholder="Search" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Search</button>
							</span>
						</div>
					</form>
				</div> 
				</li>
				<!-- END TOP SEARCH -->
			</ul>
		</div>
		<!-- END NAVIGATION -->
	</div>
</div>
