<!-- nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
			<%#<%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav-->


<div class="pre-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 additional-shop-info">
				<ul class="list-unstyled list-inline">
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 additional-nav">
				<ul class="list-unstyled list-inline pull-right">
					<% if spree_current_user %>
						<li><%= link_to "My Wishlist", root_path %></li>
						<li><%= link_to "My Account", account_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% else %>
						<li><%= link_to "Login", login_path %></li>
					<% end %>
					<li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
